/* Fonts */
/* font-family: 'ubuntu-light', sans-serif; */
@font-face {
  font-family: 'ubuntu-light';
  src: url("../fonts/ubuntu/ubuntu-light/ubuntu-light.eot");
  src: url("../fonts/ubuntu/ubuntu-light/ubuntu-light.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-light/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu/ubuntu-light/ubuntu-light.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light/ubuntu-light.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-light/ubuntu-light.svg#ubunturegular") format("svg");
}

/* font-family: 'ubuntu-regular', sans-serif; */
@font-face {
  font-family: 'ubuntu-regular';
  src: url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.eot");
  src: url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.svg#ubunturegular") format("svg");
}

/* font-family: 'gagalin-regular', sans-serif; */
@font-face {
  font-family: 'gagalin-regular';
  src: url("../fonts/gagalin/gagalin-regular.eot");
  src: url("../fonts/gagalin/gagalin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gagalin/gagalin-regular.woff") format("woff"), url("../fonts/gagalin/gagalin-regular.woff2") format("woff2"), url("../fonts/gagalin/gagalin-regular.ttf") format("truetype"), url("../fonts/gagalin/gagalin-regular.svg#gagalinregular") format("svg");
}

/* font-family: 'lifehackmedium', sans-serif; */
@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack/lifehack_medium-webfont.eot");
  src: url("../fonts/lifehack/lifehack_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lifehack/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack/lifehack_medium-webfont.ttf") format("truetype"), url("../fonts/lifehack/lifehack_medium-webfont.svg#ubunturegular") format("svg");
  font-style: normal;
  font-weight: normal;
}

/* line 3, D:/Portfolio/burgers/html/sass/main.scss */
html {
  font-family: 'ubuntu-regular', sans-serif;
  font-size: 13px;
  line-height: 1.42;
}

/* line 9, D:/Portfolio/burgers/html/sass/main.scss */
html,
body {
  height: 100%;
}

/* line 14, D:/Portfolio/burgers/html/sass/main.scss */
body {
  margin: 0;
  padding: 0;
  border: 0;
  color: #221f1f;
}

/* line 21, D:/Portfolio/burgers/html/sass/main.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 27, D:/Portfolio/burgers/html/sass/main.scss */
a {
  text-decoration: none;
}

/* line 31, D:/Portfolio/burgers/html/sass/main.scss */
.wrap {
  min-width: 1100px;
  position: relative;
}

/* line 36, D:/Portfolio/burgers/html/sass/main.scss */
.container {
  width: 940px;
  min-height: 100vh;
  padding: 0 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* line 45, D:/Portfolio/burgers/html/sass/main.scss */
.welcome__page {
  position: relative;
}

/* line 49, D:/Portfolio/burgers/html/sass/main.scss */
.welcome__page-bg {
  position: absolute;
  height: 100vh;
  width: 99vw;
  background-color: #000;
  background-image: url("../img/welcome_page_texture.png"), url("../img/welcome_page_bg.jpg");
  background-position: top right, center center;
  background-attachment: fixed, fixed;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  z-index: -1;
}

/* line 62, D:/Portfolio/burgers/html/sass/main.scss */
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0 0 0;
}

/* line 69, D:/Portfolio/burgers/html/sass/main.scss */
.nav__list {
  display: flex;
  font-family: 'ubuntu-regular', sans-serif;
  list-style-type: disc;
  margin: 0 15px 0 185px;
  text-transform: uppercase;
}

/* line 76, D:/Portfolio/burgers/html/sass/main.scss */
.nav__list .nav__item {
  color: #fff;
  margin: 0 16px;
}

/* line 79, D:/Portfolio/burgers/html/sass/main.scss */
.nav__list .nav__item:first-child {
  list-style-type: none;
}

/* line 83, D:/Portfolio/burgers/html/sass/main.scss */
.nav__list .nav__link {
  color: #fff;
}

/* line 88, D:/Portfolio/burgers/html/sass/main.scss */
.pagination__list {
  position: fixed;
  top: 95px;
  right: 53px;
  color: #fff;
  font-size: 26px;
  z-index: 3;
}

/* line 96, D:/Portfolio/burgers/html/sass/main.scss */
.pagination__list .pagination__item {
  margin: 16px 0;
}

/* line 100, D:/Portfolio/burgers/html/sass/main.scss */
.pagination__list .pagination__link--activ {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  vertical-align: middle;
}

/* line 110, D:/Portfolio/burgers/html/sass/main.scss */
.pagination__list .pagination__link-dot {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  left: 50%;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

/* line 123, D:/Portfolio/burgers/html/sass/main.scss */
.btn {
  display: block;
  width: 100px;
  text-align: center;
  height: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: #e45028;
  text-transform: uppercase;
  color: #fff;
}

/* line 134, D:/Portfolio/burgers/html/sass/main.scss */
.btn:hover {
  background-color: #C1401E;
}

/* welcome page */
/* line 142, D:/Portfolio/burgers/html/sass/main.scss */
.welcome__page-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: auto;
  top: -95px;
}

/* line 150, D:/Portfolio/burgers/html/sass/main.scss */
.section__big-heading {
  font-family: 'gagalin-regular', sans-serif;
  font-size: 65px;
  color: #f9b43b;
  margin: 90px 0 0 0;
  padding: 0;
  align-self: left;
}

/* line 158, D:/Portfolio/burgers/html/sass/main.scss */
.section__big-heading span {
  font-family: 'lifehackmedium', sans-serif;
  color: #fff;
}

/* line 165, D:/Portfolio/burgers/html/sass/main.scss */
.section__img {
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 0 48px 0 0;
}

/* line 172, D:/Portfolio/burgers/html/sass/main.scss */
.section__img-overfolov {
  background: url("../img/welcome_page_drops.png") no-repeat;
  width: 451px;
  height: 241px;
  position: absolute;
  top: 45px;
  left: -30px;
}

/* line 181, D:/Portfolio/burgers/html/sass/main.scss */
.scroll__down {
  position: relative;
  margin: 0 auto;
  top: -25px;
}

/* line 187, D:/Portfolio/burgers/html/sass/main.scss */
.scroll__down-link {
  background: url(../img/welcome_page_arrow_scroll.png) center center no-repeat;
  height: 25px;
  width: 25px;
  display: inline-block;
}

/* about as */
/* line 198, D:/Portfolio/burgers/html/sass/main.scss */
.about__as-bg {
  position: absolute;
  height: 100vh;
  width: 99vw;
  background-color: #fff;
  background-image: url("../img/about_as_sectiom_texture.png"), url("../img/about_as_sectiom_bg.jpg");
  background-position: center center;
  background-attachment: fixed, fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

/* line 211, D:/Portfolio/burgers/html/sass/main.scss */
.about__as-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

/* line 219, D:/Portfolio/burgers/html/sass/main.scss */
.about__as-big-heading {
  font-family: 'gagalin-regular', sans-serif;
  text-align: center;
  font-size: 72px;
  margin: 78px 0 87px 0;
}

/* line 226, D:/Portfolio/burgers/html/sass/main.scss */
.about__as-list {
  font-family: 'ubuntu-light', sans-serif;
  font-size: 14px;
  color: #2f3234;
  margin: auto 0 300px 0;
  align-items: center;
}

/* line 233, D:/Portfolio/burgers/html/sass/main.scss */
.about__as-list .about__as-item {
  display: flex;
  flex-direction: column;
  margin: 0 36px 0 0;
}

/* line 238, D:/Portfolio/burgers/html/sass/main.scss */
.about__as-list .about__as-item:last-child {
  margin: 0;
}

/* line 243, D:/Portfolio/burgers/html/sass/main.scss */
.about__as-list .about__as-img {
  margin: 0 auto 35px auto;
}

/* line 247, D:/Portfolio/burgers/html/sass/main.scss */
.about__as-list .about__as-list-heading {
  font-family: 'lifehackmedium', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #2f3234;
  margin: 0 0 19px 0;
}

/* line 255, D:/Portfolio/burgers/html/sass/main.scss */
.about__as-list .about__as-list-text {
  width: 280px;
  opacity: .8;
}

/* line 261, D:/Portfolio/burgers/html/sass/main.scss */
.about__as-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/* line 267, D:/Portfolio/burgers/html/sass/main.scss */
.reviews__page-bg {
  position: absolute;
  height: 100vh;
  width: 99vw;
  background-color: #000;
  z-index: -1;
}

/* line 275, D:/Portfolio/burgers/html/sass/main.scss */
.reviews__list {
  display: flex;
  flex-flow: row wrap;
  width: 99vw;
  height: 100vh;
}

/* line 281, D:/Portfolio/burgers/html/sass/main.scss */
.reviews__list .reviews__item {
  flex-basis: 50vh;
  height: 50vh;
  flex-grow: 1;
  overflow: hidden;
}

/* line 288, D:/Portfolio/burgers/html/sass/main.scss */
.reviews__list .reviews__img {
  height: 50vh;
  max-width: 50vw;
}

/*# sourceMappingURL=../css/main.map */