/* font-family: 'ubuntu-light', sans-serif; */
@font-face {
  font-family: 'ubuntu-light';
  src: url("../fonts/ubuntu/ubuntu-light/ubuntu-light.eot");
  src: url("../fonts/ubuntu/ubuntu-light/ubuntu-light.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-light/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu/ubuntu-light/ubuntu-light.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light/ubuntu-light.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-light/ubuntu-light.svg#ubunturegular") format("svg"); }

/* font-family: 'ubuntu-regular', sans-serif; */
@font-face {
  font-family: 'ubuntu-regular';
  src: url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.eot");
  src: url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.svg#ubunturegular") format("svg"); }

/* font-family: 'gagalin-regular', sans-serif; */
@font-face {
  font-family: 'gagalin-regular';
  src: url("../fonts/gagalin/gagalin-regular.eot");
  src: url("../fonts/gagalin/gagalin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gagalin/gagalin-regular.woff") format("woff"), url("../fonts/gagalin/gagalin-regular.woff2") format("woff2"), url("../fonts/gagalin/gagalin-regular.ttf") format("truetype"), url("../fonts/gagalin/gagalin-regular.svg#gagalinregular") format("svg"); }

/* font-family: 'lifehackmedium', sans-serif; */
@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack/lifehack_medium-webfont.eot");
  src: url("../fonts/lifehack/lifehack_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lifehack/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack/lifehack_medium-webfont.ttf") format("truetype"), url("../fonts/lifehack/lifehack_medium-webfont.svg#ubunturegular") format("svg");
  font-style: normal;
  font-weight: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

footer {
  position: relative;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9375rem; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 0.8125rem; } }

html,
body {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  color: #2f3234;
  font-family: 'ubuntu-regular', sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

header, section {
  position: static;
  display: block;
  width: 100%;
  height: 100%;
  background: #323232;
  min-height: 650px; }

.wrap {
  position: relative;
  width: 100%;
  height: 100%; }

.maincontent {
  width: 100%;
  height: 100%;
  min-height: 650px; }

.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.btn {
  display: inline-block;
  min-width: 10%;
  font-size: 13px;
  padding: 0.625rem 0.9375rem;
  border-radius: 5px;
  font-weight: 500;
  background-color: #e25028;
  text-transform: uppercase;
  color: #fff;
  text-align: center; }
  .btn:hover {
    background-color: #e25028; }

.section__heading {
  font-family: 'gagalin-regular', sans-serif;
  font-size: 4.5rem;
  color: #f8b43a;
  margin: 0;
  font-weight: 200;
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .section__heading {
      padding: 0; } }

.section__heading--white {
  color: #fff; }

.section__heading--black {
  color: #2f3234; }

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(47, 50, 52, 0.99);
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 100;
  display: none;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }
  .hamburger-menu_visible {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 0; }

.hamburger-menu__logo {
  position: absolute;
  top: 0.625rem;
  left: 1.875rem; }

.hamburger-menu__close {
  position: absolute;
  right: 0.9375rem;
  top: 0.9375rem;
  width: 1.125rem;
  height: 1.125rem;
  padding: 0.9375rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  .hamburger-menu__close:hover .hamburger-menu__close-icon use {
    fill: #fff; }

.hamburger-menu__close-icon {
  width: 100%;
  height: 100%; }
  .hamburger-menu__close-icon use {
    fill: #fff;
    -webkit-transition: fill .3s;
    -o-transition: fill .3s;
    transition: fill .3s; }

.hamburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1.875rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-link {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 0 0 32px; } }

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }

.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute; }

.hamburger-menu-link__bars:before {
  top: 0; }

.hamburger-menu-link__bars:after {
  bottom: 0; }

@media screen and (max-width: 768px) {
  .pagination {
    display: none; } }

@media screen and (max-width: 480px) {
  .pagination {
    display: none; } }

.pagination__list {
  position: fixed;
  top: 86px;
  right: 37px;
  color: #fff;
  z-index: 999; }
  .pagination__list .pagination__item {
    margin: -0.1rem 0; }
  .pagination__list .pagination__link--activ {
    position: relative;
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%; }
  .pagination__list .pagination__link-dot {
    position: relative;
    display: inline-block;
    width: 5px;
    height: 5px;
    left: 50%;
    bottom: 50%;
    background: #fff;
    border-radius: 50%;
    -webkit-transform: translate(-50%, 20%);
    -ms-transform: translate(-50%, 20%);
    transform: translate(-50%, 20%); }

.full__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 50, 52, 0.99);
  z-index: 998;
  overflow: hidden; }

.full__menu-list {
  margin: 34% auto 0;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .full__menu-list {
      margin: 39% auto 0; } }

.full__menu-item {
  margin: 0 0 50px 0; }
  .full__menu-item:last-child {
    margin: 0; }
  @media screen and (max-width: 480px) {
    .full__menu-item {
      margin: 0 0 53px 0; } }
  .full__menu-item:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 6px;
    left: 50%;
    background: #fff;
    border-radius: 50%;
    margin: -26px 0 0 0; }
  .full__menu-item:first-child:before {
    display: none; }

.full__menu-link {
  color: #fff; }

.full__menu-close {
  position: absolute;
  right: -5px;
  top: 13px;
  cursor: pointer; }
  @media screen and (max-width: 480px) {
    .full__menu-close {
      right: -19px; } }

.close-icon {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden; }
  .close-icon:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .close-icon:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .close-icon:after, .close-icon:before {
    content: '';
    position: absolute;
    width: 50%;
    top: 50%;
    left: 0;
    background: #fff;
    height: 4px;
    margin-top: -4px;
    border-radius: 2px; }

.welcome__page {
  background: url("../img/welcome_page_bg.jpg") no-repeat center;
  background-size: cover;
  position: relative; }
  .welcome__page .section__heading {
    padding: 5rem 0 0 0; }
    @media screen and (max-width: 768px) {
      .welcome__page .section__heading {
        left: 3%; } }
    @media screen and (max-width: 480px) {
      .welcome__page .section__heading {
        font-size: 63px; } }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0 0 0; }
  @media screen and (max-width: 768px) {
    .header {
      padding: 0.625rem 0.8125rem 0 0.3125rem; } }

.logo--header {
  margin: 0 auto 0 0;
  z-index: 999; }

.nav {
  font-size: 0.8125rem; }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'ubuntu-regular', sans-serif;
  list-style-type: disc;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .nav__list {
      display: none; } }
  .nav__list .nav__item {
    color: #fff;
    margin: 0 1.125rem; }
    .nav__list .nav__item:first-child {
      list-style-type: none; }
  .nav__list .nav__link {
    color: #fff; }
    .nav__list .nav__link:hover {
      text-decoration: underline; }

.welcome__page-content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 2.8125rem 0 0 1.625rem; }
  @media screen and (max-width: 768px) {
    .welcome__page-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      padding: 0 20%; } }

.section__img, .welcome__page-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.section__img {
  display: block;
  width: 100%;
  margin: -3.75rem 0 0 0; }
  @media screen and (max-width: 768px) {
    .section__img {
      margin: 1.125rem 0 0 -0.8125rem;
      min-width: 100%; } }
  @media screen and (max-width: 480px) {
    .section__img {
      margin: -0.8125rem 0 0 -3.3125rem;
      min-width: 130%; } }

.welcome__page-description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .welcome__page-description {
      margin: -2.9375rem 0 0 -2rem; } }
  @media screen and (max-width: 480px) {
    .welcome__page-description {
      margin: -2.25rem 0 0 -4.5rem;
      width: 30rem; } }

.description-text {
  font-family: 'lifehackmedium', sans-serif;
  color: #fff;
  font-size: 3.875rem;
  margin: 28px 0 0 0;
  display: inline-block; }
  @media screen and (max-width: 480px) {
    .description-text {
      font-size: 3.25rem;
      margin: 0.875rem 0 0 0; } }

.scroll__down {
  position: relative;
  margin: 0 auto;
  bottom: -80px; }
  @media screen and (max-width: 768px) {
    .scroll__down {
      bottom: -147px; } }
  @media screen and (max-width: 480px) {
    .scroll__down {
      bottom: -74px; } }

.scroll__down-link {
  background: url("../img/welcome_page_arrow_scroll.png") center center no-repeat;
  height: 25px;
  width: 25px;
  display: inline-block; }

.about__as {
  background: url("../img/about_as_sectiom_bg.jpg") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; }
  .about__as .section__heading {
    margin: 6.75rem 0.1875rem 0 0; }
    @media screen and (max-width: 480px) {
      .about__as .section__heading {
        margin: 3rem 0.1875rem 0 0;
        font-size: 3.125rem; } }

.about__as-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  font-family: 'ubuntu-light', sans-serif;
  font-size: 14px;
  color: #2f3234;
  margin: 4.9375rem 0.625rem 0 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .about__as-list {
      margin: 10.4375rem 0 0 0; } }
  @media screen and (max-width: 480px) {
    .about__as-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 5.1875rem 0 0 0; } }
  .about__as-list .about__as-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-basis: 300px;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px; }
    @media screen and (max-width: 768px) {
      .about__as-list .about__as-item {
        margin: 0 1.5625rem 0 0; } }
    @media screen and (max-width: 480px) {
      .about__as-list .about__as-item {
        display: block;
        -webkit-flex-basis: 160px;
        -ms-flex-preferred-size: 160px;
        flex-basis: 160px; } }
    .about__as-list .about__as-item:last-child {
      margin: 0; }
  .about__as-list .about__as-img {
    width: 90px;
    height: 90px;
    margin: 0 auto 2.1875rem auto; }
    @media screen and (max-width: 480px) {
      .about__as-list .about__as-img {
        float: left;
        margin: 0 1.6875rem 0 0.875rem; } }
  .about__as-list h3 {
    font-family: 'lifehackmedium', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #2f3234;
    margin: 0 0 0.4375rem 0; }
    @media screen and (max-width: 480px) {
      .about__as-list h3 {
        width: 100%;
        width: 100%;
        margin: -0.4375rem 0 0 -12.5rem;
        white-space: nowrap; } }
  .about__as-list p {
    opacity: .8; }
    @media screen and (max-width: 480px) {
      .about__as-list p {
        width: 100%;
        text-align: left;
        margin: 0.625rem 0 0 1.875rem; } }

.slaider {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b));
  background: -webkit-linear-gradient(top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: -o-linear-gradient(top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: linear-gradient(180deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .slaider .section__heading {
    color: #fff;
    margin: 0 0 1.875rem 0; }

.slaider__teg,
.slider__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

@media screen and (max-width: 768px) {
  .slider__row {
    margin: 13px 0 0 0; } }

.slaider__teg {
  margin: auto;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .slaider__teg {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.slaider__img, .slaider__description {
  width: 50%; }

.slaider__img {
  margin: 0 20px 0 0; }
  .slaider__img img {
    display: block;
    width: 100%; }
  @media screen and (max-width: 768px) {
    .slaider__img {
      width: 70%;
      margin: 26% 1% 0 0; } }
  @media screen and (max-width: 480px) {
    .slaider__img {
      width: 90%;
      margin: 50% -7% 0 0; } }

.slaider__description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .slaider__description {
      text-align: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .slaider__description {
      width: 100%; } }

.composition {
  position: absolute;
  top: -80px;
  left: 0; }
  @media screen and (max-width: 768px) {
    .composition {
      top: 14%;
      left: 18%; } }
  @media screen and (max-width: 480px) {
    .composition {
      top: 14.3%;
      left: 4%; } }

.composition__icon-btn {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  background: #e3502870;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.composition__img-icon {
  margin: auto;
  fill: #fff;
  width: 45px;
  height: 45px; }

.composition__icon {
  margin-right: 25px; }

.composition__img {
  width: 40px;
  height: 40px; }

.compositio__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.composition__product {
  margin-right: auto;
  font-weight: 500; }

.composition__list {
  position: absolute;
  left: 90px;
  top: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  background: #fff;
  width: 270px;
  border-radius: 10px;
  padding: 20px 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10; }

.composition__title {
  font-family: 'gagalin-regular', sans-serif;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #fff;
  margin: -10px 0 10px 0; }

.slaider__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 20px 0;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .slaider__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.slider__list--wrap {
  position: relative; }

.slaider__description {
  margin: 0 0 1.875rem 0; }
  .slaider__description p {
    font-size: 14px;
    font-family: "ubuntu-regular", sans-serif;
    line-height: 1.714;
    color: #fff; }
  @media screen and (max-width: 480px) {
    .slaider__description {
      width: 100%; } }

.price {
  display: inline-block;
  font-family: 'gagalin-regular', sans-serif;
  font-size: 72px;
  color: #e25028;
  margin: 0;
  font-weight: 200;
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .price {
      font-size: 50px; } }
  .price .price__small {
    font-size: 30px;
    padding: 0 0 0 5px; }
    @media screen and (max-width: 480px) {
      .price .price__small {
        font-size: 21px; } }

.btn__slaider {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 0 0 0 20px; }
  @media screen and (max-width: 768px) {
    .btn__slaider {
      margin: 0 0 0 30px; } }

.slider__controls {
  position: relative;
  left: 50%;
  bottom: 205px; }
  @media screen and (max-width: 768px) {
    .slider__controls {
      bottom: 430px; } }

.slider__controls_next {
  position: absolute;
  left: 50%; }
  @media screen and (max-width: 768px) {
    .slider__controls_next {
      left: 43%; } }

.slider__controls_pref {
  position: absolute;
  left: -53%; }
  @media screen and (max-width: 768px) {
    .slider__controls_pref {
      left: -43%; } }

.slider__controls-arrow_right {
  height: 25px;
  width: 25px;
  border: 1px solid #fff;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.slider__controls-arrow_left {
  height: 25px;
  width: 25px;
  border: 1px solid #fff;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.calories {
  position: absolute;
  left: 0;
  bottom: -80px; }
  @media screen and (max-width: 768px) {
    .calories {
      left: auto;
      bottom: auto;
      top: 14%;
      right: 17%; } }
  @media screen and (max-width: 480px) {
    .calories {
      top: 14%;
      right: -3%; } }

.calories__img {
  width: 60px;
  height: 60px;
  fill: #fff; }

.calories__title,
.calories__unit {
  font-family: 'gagalin-regular',sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  text-align: center; }

.calories__unit {
  font-size: 12px; }

.calories__title {
  margin: -39px 0 15px 0; }

.team {
  position: relative;
  background: url("../img/team_bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  font-size: 0.875rem;
  font-family: 'ubuntu-light', sans-serif; }
  @media screen and (max-width: 768px) {
    .team {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 768px) and (max-width: 480px) {
    .team .section__heading {
      font-size: 3.125rem;
      margin: -0.5rem 0 0 -0.5625rem; } }

.team__content {
  position: absolute;
  background: rgba(40, 50, 52, 0.86);
  width: 50%;
  height: 100%;
  right: 0;
  padding: 5rem; }
  @media screen and (max-width: 768px) {
    .team__content {
      position: static;
      width: 100%;
      padding: 14.2% 30.6%;
      -webkit-box-sizing: content-box;
      box-sizing: content-box; } }

.vertical__accordeon {
  margin: 4.375rem 0 0 0; }
  @media screen and (max-width: 768px) {
    .vertical__accordeon {
      margin: 18% 7%; } }
  @media screen and (max-width: 480px) {
    .vertical__accordeon {
      margin: 5.5625rem 0 0 0; } }
  .vertical__accordeon .accordeon__inner {
    width: 100%;
    margin: 0 0 0 1.0625rem; }
    @media screen and (max-width: 768px) {
      .vertical__accordeon .accordeon__inner {
        margin: 0 0 0 -33%; } }
  .vertical__accordeon .accordeon__trigger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff; }
    .vertical__accordeon .accordeon__trigger:before {
      content: "";
      height: 0;
      width: 0;
      border: 5px solid transparent;
      border-bottom-width: 0;
      border-top-color: #f8b43a;
      margin: 0 0.5625rem 0 0; }
      @media screen and (max-width: 768px) {
        .vertical__accordeon .accordeon__trigger:before {
          margin: 0 0.875rem 0 -1.0625rem; } }
  .vertical__accordeon .accordeon__item--activ .accordeon__inner-item {
    height: 130px;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .vertical__accordeon .accordeon__item--activ .accordeon__inner-item {
        height: 220px; } }
  .vertical__accordeon .accordeon__item--activ .accordeon__trigger {
    color: #f8b43a; }
    .vertical__accordeon .accordeon__item--activ .accordeon__trigger:before {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  .vertical__accordeon .accordeon__inner-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 0;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .vertical__accordeon .accordeon__inner-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; } }
  .vertical__accordeon .accordeon__trigger {
    font-family: 'Gagalin', sans-serif;
    font-size: 0.875rem;
    line-height: 2.01;
    text-align: left;
    color: #f8b43a;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      .vertical__accordeon .accordeon__trigger {
        font-size: 1.5rem;
        white-space: nowrap;
        line-height: 1.6; } }
  .vertical__accordeon .team__img {
    width: 100px;
    margin: 0 1.25rem 0 0; }
    @media screen and (max-width: 768px) {
      .vertical__accordeon .team__img {
        width: 17%;
        margin: 0 1.5rem 0 0; } }
    .vertical__accordeon .team__img img {
      display: block;
      max-width: 100%;
      overflow: hidden;
      border-radius: 50%; }
  .vertical__accordeon .accordeon__inner-item {
    margin: 1.0625rem 0 0 0; }
  @media screen and (max-width: 768px) {
    .vertical__accordeon .team__description {
      margin: 0.5625rem 0 0 -1.25rem;
      text-align: center; } }
  .vertical__accordeon .team__description span {
    font-weight: bold;
    font-size: 0.875rem; }
  .vertical__accordeon .team__description p {
    width: 208px;
    margin: 0.8125rem 0 0 0; }
    @media screen and (max-width: 768px) {
      .vertical__accordeon .team__description p {
        width: 334px; } }

.menu {
  position: relative;
  background: url("../img/menu_bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  font-size: 0.875rem;
  font-family: 'ubuntu-light', sans-serif; }
  .menu .section__heading {
    position: absolute;
    top: 10%;
    left: 10%; }
    @media screen and (max-width: 768px) {
      .menu .section__heading {
        top: 6%;
        left: 12%;
        font-size: 3.125rem; } }

.menu__acco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }
  .menu__acco .menu__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
  .menu__acco .menu__trigger {
    position: relative;
    display: block;
    width: 76px;
    height: 100%;
    background: url("./img/menu_section_1.jpg") no-repeat center; }
    @media screen and (max-width: 480px) {
      .menu__acco .menu__trigger {
        width: 80px; } }
    .menu__acco .menu__trigger:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #323232; }
  .menu__acco .menu__trigger-title {
    color: #fff;
    font-family: 'gagalin-regular', sans-serif;
    white-space: nowrap;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    padding: 0;
    position: absolute;
    top: 390px;
    right: -93px;
    z-index: 1;
    font-size: 2.5rem; }
    @media screen and (max-width: 480px) {
      .menu__acco .menu__trigger-title {
        top: 72%; } }
  .menu__acco .menu__content {
    width: 0;
    background: #2f3234;
    height: 100%;
    overflow: hidden; }
    .menu__acco .menu__content p {
      padding: 3.125rem;
      width: 100%; }
  .menu__acco .menu__item--activ menu__trigger-title {
    color: #f8b43a; }

.reviews {
  background: #2f3234;
  font-family: 'ubuntu-light', sans-serif;
  font-size: 13px;
  color: #fff; }

.reviews__content {
  height: 100%; }

.reviews__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  width: 100%; }

.reviews__item {
  position: relative;
  width: 25%;
  height: 50%; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }
  .reviews__item .reviews__text {
    position: absolute;
    display: block;
    padding: 42px 10px;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: -9999px;
    top: 0;
    background-color: #2f3234;
    font-weight: 300;
    line-height: 1.9; }
    @media screen and (max-width: 768px) {
      .reviews__item .reviews__text {
        font-size: 0.875rem;
        padding: 2% 20%;
        text-align: center; } }
    .reviews__item .reviews__text span {
      font-family: 'gagalin-regular', sans-serif;
      font-size: 14px;
      margin: 0 0 32px 0; }
    .reviews__item .reviews__text p {
      width: 230px;
      margin: 17px 0;
      letter-spacing: 0.6px; }
      @media screen and (max-width: 768px) {
        .reviews__item .reviews__text p {
          margin: 10px 0; } }
  .reviews__item:hover .reviews__text {
    left: 0; }

.reviews__img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.reviews__text--btn .btn {
  background-color: #2f3234; }
  .reviews__text--btn .btn:hover {
    background-color: #2f3234; }

.order {
  background: url("../img/form_bg.jpg") no-repeat center;
  background-size: cover; }
  .order .section__heading {
    margin: 4.375rem 0 0 0; }
    @media screen and (max-width: 768px) {
      .order .section__heading {
        margin: 6.875rem 0 0 -0.0625rem; } }
    @media screen and (max-width: 480px) {
      .order .section__heading {
        margin: 4rem 0 0 -0.0625rem;
        font-size: 3.125rem;
        text-align: center; } }

.form__content {
  width: 100%;
  margin: 3.875rem 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 4.6875rem 0 0 0; } }
  @media screen and (max-width: 480px) {
    .form__content {
      margin: 1.6875rem 0 0 0; } }

.form__section-one, .form__section-two {
  width: 50%; }

.form__section-one {
  margin: 0 1.25rem 0 0; }
  @media screen and (max-width: 768px) {
    .form__section-one {
      width: 66%;
      margin: 0; } }
  @media screen and (max-width: 480px) {
    .form__section-one {
      width: 100%; } }

@media screen and (max-width: 768px) {
  .form__section-two {
    width: auto; } }

.form__block-title {
  color: #fff; }

.form__input {
  border: none;
  border-radius: 5px;
  padding: 0.3125rem;
  width: 100%;
  margin: 0.5625rem 0 0 0; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem; }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__radios-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.form__radio {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.6875rem 0 0; }
  .form__radio:last-child {
    margin: 0; }

.form__radio-elem {
  margin: 0 0.6875rem 0 0; }

.form__block-title {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.71; }

.form__big-text-input {
  width: 460px;
  height: 109px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #fff; }

.form__submit {
  border: 0;
  margin: 0 1.25rem 0 0; }
  @media screen and (max-width: 480px) {
    .form__submit {
      margin: 2rem 0 0 0; } }

.form__reset {
  padding: 0.625rem;
  border: transparent;
  background: none;
  color: #fff; }

@media screen and (max-width: 480px) {
  .form__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; } }

.footer {
  position: relative;
  background: #2f3234;
  height: 60px;
  color: #fff;
  font-family: 'ubuntu-light', sans-serif;
  padding: 10px 5px; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 115px; } }

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 940px; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__left, .footer__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%; }
  @media screen and (max-width: 480px) {
    .footer__left, .footer__right {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.footer__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .footer__right {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 17px 0 0 0; } }

.footer__address {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .footer__address {
      margin: 9px 0 0 0; } }

.address {
  font-style: normal; }
  @media screen and (max-width: 480px) {
    .address {
      font-size: 14px; } }

.phone {
  font-family: 'ubuntu-regular', sans-serif;
  color: #e25028;
  font-weight: bold; }
  @media screen and (max-width: 480px) {
    .phone {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.social__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 160px; }
  @media screen and (max-width: 480px) {
    .social__list {
      width: 30%; } }

.social__icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  opacity: .3; }
  .social__icon:hover {
    opacity: 1; }

/*# sourceMappingURL=main.css.map */