/* Fonts */
/* font-family: 'ubuntu-light', sans-serif; */
@font-face {
  font-family: 'ubuntu-light';
  src: url("../fonts/ubuntu/ubuntu-light/ubuntu-light.eot");
  src: url("../fonts/ubuntu/ubuntu-light/ubuntu-light.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-light/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu/ubuntu-light/ubuntu-light.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light/ubuntu-light.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-light/ubuntu-light.svg#ubunturegular") format("svg");
}

/* font-family: 'ubuntu-regular', sans-serif; */
@font-face {
  font-family: 'ubuntu-regular';
  src: url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.eot");
  src: url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-regular/ubuntu-regular.svg#ubunturegular") format("svg");
}

/* font-family: 'gagalin-regular', sans-serif; */
@font-face {
  font-family: 'gagalin-regular';
  src: url("../fonts/gagalin/gagalin-regular.eot");
  src: url("../fonts/gagalin/gagalin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gagalin/gagalin-regular.woff") format("woff"), url("../fonts/gagalin/gagalin-regular.woff2") format("woff2"), url("../fonts/gagalin/gagalin-regular.ttf") format("truetype"), url("../fonts/gagalin/gagalin-regular.svg#gagalinregular") format("svg");
}

/* font-family: 'lifehackmedium', sans-serif; */
@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack/lifehack_medium-webfont.eot");
  src: url("../fonts/lifehack/lifehack_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lifehack/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack/lifehack_medium-webfont.ttf") format("truetype"), url("../fonts/lifehack/lifehack_medium-webfont.svg#ubunturegular") format("svg");
  font-style: normal;
  font-weight: normal;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #221f1f;
  font-family: 'ubuntu-regular', sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.pagination__list {
  position: fixed;
  top: 95px;
  right: 53px;
  color: #fff;
  font-size: 26px;
  z-index: 3;
}

.pagination__list .pagination__item {
  margin: 16px 0;
}

.pagination__list .pagination__link--activ {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  vertical-align: middle;
}

.pagination__list .pagination__link-dot {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  left: 50%;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

.wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.maincontent {
  height: 100%;
  min-height: 650px;
}

.container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header, section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px;
}

.btn {
  min-width: 6.125rem;
  font-size: 0.8125rem;
  padding: 0.9375rem;
  border-radius: 0.3125rem;
  font-weight: 500;
  background-color: #e45028;
  text-transform: uppercase;
  color: #fff;
}

.btn:hover {
  background-color: #C1401E;
}

.welcome__page {
  background-image: url("../img/welcome_page_texture.png"), url("../img/welcome_page_bg.jpg");
  background-position: top right, center center;
  background-attachment: fixed, fixed;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0 0;
}

.logo--header {
  margin: 0 auto 0 0;
}

.nav {
  margin: 0 0.9375rem 0 0;
}

.nav__list {
  display: flex;
  font-family: 'ubuntu-regular', sans-serif;
  list-style-type: disc;
  text-transform: uppercase;
}

.nav__list .nav__item {
  color: #fff;
  margin: 0 1rem;
}

.nav__list .nav__item:first-child {
  list-style-type: none;
}

.nav__list .nav__link {
  color: #fff;
}

.nav__list .nav__link:hover {
  text-decoration: underline;
}

.welcome__page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome__page-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 0 15% 0;
  flex-grow: 1;
}

.section__img, .welcome__page-description {
  display: flex;
  flex-basis: 50%;
}

.section__img {
  margin: auto 0;
}

.welcome__page-description {
  flex-direction: column;
  justify-content: center;
}

.section__big-heading {
  font-family: 'gagalin-regular', sans-serif;
  font-size: 4.5rem;
  color: #f9b43b;
  padding: 60px 0 0 0;
  margin: 0;
  font-weight: 400;
}

.section__big-heading span {
  font-family: 'lifehackmedium', sans-serif;
  color: #fff;
  font-size: 4.0625rem;
  font-weight: 500;
  line-height: 1;
}

.scroll__down {
  position: relative;
  margin: 0 auto;
  top: -25px;
}

.scroll__down-link {
  background: url("../img/welcome_page_arrow_scroll.png") center center no-repeat;
  height: 25px;
  width: 25px;
  display: inline-block;
}

/*.welcome__page{
  position: relative;
}*/
.about__as {
  background-image: url("../img/about_as_sectiom_texture.png"), url("../img/about_as_sectiom_bg.jpg");
  background-position: center center;
  background-attachment: fixed, fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}

/*.about__as-content{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  margin: auto;
}*/
.about__as-heading {
  font-family: 'gagalin-regular', sans-serif;
  color: #2f3234;
  text-align: center;
  margin: 0 0 3.75rem 0;
  padding: 0;
}

.about__as-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: 'ubuntu-light', sans-serif;
  font-size: 14px;
  color: #2f3234;
  margin: 90px auto;
  align-items: center;
}

.about__as-list .about__as-item {
  display: flex;
  flex-direction: column;
  margin: 0 36px 0 0;
  flex-basis: 280px;
}

.about__as-list .about__as-item:last-child {
  margin: 0;
}

.about__as-list .about__as-img {
  margin: 0 auto 35px auto;
}

.about__as-list .about__as-list-heading {
  font-family: 'lifehackmedium', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #2f3234;
  margin: 0 0 19px 0;
}

.about__as-list .about__as-text {
  opacity: .8;
}

.reviews__page-bg {
  position: absolute;
  height: 100vh;
  width: 99vw;
  background-color: #000;
  z-index: -1;
}

.reviews__list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100vh;
}

.reviews__list .reviews__item {
  position: relative;
  /* flex-basis: 50%; */
  height: 50%;
  width: 25%;
  flex-grow: 1;
  overflow: hidden;
  color: #fff;
}

.reviews__list .reviews__item .reviews__img {
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
  z-index: 1;
}

.reviews__list .reviews__item .reviews__text {
  position: absolute;
  display: block;
  font-family: 'ubuntu-light', sans-serif;
  font-size: 14px;
  margin: 0 0 20px 0;
  padding: 50px 30px;
  width: 230px;
  z-index: 999;
  left: -9999px;
  top: 0;
}

.reviews__list .reviews__item .reviews__text span {
  font-family: 'gagalin-regular', sans-serif;
  font-size: 14px;
  margin: 0 0 32px 0;
}

.reviews__list .reviews__item:hover .reviews__text {
  left: 0;
}

.reviews__text--btn .btn {
  background-color: #2f3234;
}

.reviews__text--btn .btn:hover {
  background-color: #1f2122;
}
