.pagination{
  @include tablets{
    display: none;
  }
  @include phones{
    display: none;
  }
}

.pagination__list{
  position: fixed;
  top: 86px;
  right: 37px;
  color: $white;
  z-index: 999;

  .pagination__item{
    margin: rem(-1.6px) 0;
  }

  .pagination__link--activ{
    position: relative;
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 1px solid $white;
    border-radius: 50%;
  }

  .pagination__link-dot{
    position: relative;
    display: inline-block;
    width: 5px;
    height: 5px;
    left: 50%;
    bottom: 50%;
    background: $white;
    border-radius: 50%;
    transform: translate(-50%, 20%);
  }
}