//responsive
@function rem($px) {
  @return $px / 16px+0rem;
}

@mixin colo-white{
  color: #fff;
}

@mixin menu__title{
  position: absolute;
  top: 10%;
  left: 8%;
  @include colo-white;
  padding: 0;
}

@mixin arrow{
  height: 25px;
  width: 25px;
  border: 1px solid #fff;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-width: 2px 2px 0 0;
}

@mixin team__section-title{
  padding:0;
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}