//responsive
@function rem($px) {
  @return $px / 16px+0rem;
}

@mixin colo-white{
  color: #fff;
}

@mixin big-heading{
  font-family: 'gagalin-regular', sans-serif;
  font-size: 72px;
  color: #f9b43b;
  padding: 80px 0 0 0;
  margin: 0;
  font-weight: 200;
  line-height: 1;
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}