//todo оптимизировать код
.about__as{
  background-image: url("../img/about_as_sectiom_texture.png"), url("../img/about_as_sectiom_bg.jpg") ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}

.about__as-heading{
  font-family: 'gagalin-regular', sans-serif;
  color: #2f3234;
  text-align: center;
  margin: 50px 0 60px 0;
  padding: 0;
  @include tablets{
    margin: 111px 0 0 0;
  }
}

.about__as-list{
  @include tablets{
    margin: 167px 0 0 0;
  }
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: 'ubuntu-light', sans-serif;
  font-size: 14px;
  color: #2f3234;
  margin: 19px auto;
  align-items: center;

  .about__as-item{
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    @include tablets{
      margin: 0 25px 0 0;
    }

    &:last-child{
      margin: 0;
    }
  }

  .about__as-img{
    margin: 0 auto 35px auto;
  }

  h3{
    font-family: 'lifehackmedium', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #2f3234;
    margin: 0 0 7px 0;
  }

  p{
    opacity: .8;
  }

}