//todo оптимизировать код
.about__as{
  //position: absolute;
  //height: 100vh;
  //width: 99vw;
  //background-color: #fff;
  background-image: url("../img/about_as_sectiom_texture.png"), url("../img/about_as_sectiom_bg.jpg") ;
  background-position: center center;
  background-attachment: fixed, fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  //margin: auto;
}

/*.about__as-content{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  margin: auto;
}*/

.about__as-heading{
  font-family: 'gagalin-regular', sans-serif;
  color: #2f3234;
  text-align: center;
  //font-size:72px;
  //margin: 78px 0 87px 0;
  margin: 0 0 rem(60px) 0;
  padding: 0;
}

.about__as-list{
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: 'ubuntu-light', sans-serif;
  font-size: 14px;
  color: #2f3234;
  margin: 90px auto;
  align-items: center;

  .about__as-item{
    display: flex;
    flex-direction: column;
    margin: 0 36px 0 0;
    flex-basis: 280px;
    &:last-child{
      margin: 0;
    }
  }

  .about__as-img{
    margin: 0 auto 35px auto;
  }

  .about__as-list-heading{
    font-family: 'lifehackmedium', sans-serif;
    font-size:24px;
    text-align: center;
    color: #2f3234;
    margin: 0 0 19px 0;
  }

  .about__as-text{
    opacity: .8;
  }
}