.reviews{
  //position: absolute;
  //height: 100%;
  background-color: #000;
  overflow: hidden;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  position: relative;
  //flex-basis: 50%;
  height: 50%;
  width: 25%;
  flex-grow: 1;
  overflow: hidden;
  //flex: 1 1;
  color: #fff;

  .reviews__img {
    width: 100%;
    max-width: 100%;
    filter: grayscale(100%);
    //z-index: 1;
  }

  .reviews__text {
    position: absolute;
    display: block;
    font-family: 'ubuntu-light', sans-serif;
    font-size: 14px;
    margin: 0 0 20px 0;
    padding:50px 30px;
    width:230px;
    z-index: 999;
    left: -9999px;
    top: 0;

    span {
      font-family: 'gagalin-regular', sans-serif;
      font-size: 14px;
      margin: 0 0 32px 0;
    }
  }

  &:hover .reviews__text{
    left: 0;
  }

}

.reviews__text--btn {

  .btn {
    background-color: #2f3234;

    &:hover {
      background-color: #1f2122;
    }
  }
}