.reviews__page-bg{
  position: absolute;
  height: 100vh;
  width: 99vw;
  background-color: #000;
  z-index: -1;
}



.reviews__list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100vh;

  .reviews__item {
    position: relative;
    /* flex-basis: 50%; */
    height: 50%;
    width: 25%;
    flex-grow: 1;
    overflow: hidden;
    color: #fff;

    .reviews__img {
      height: 100%;
      width: 100%;
      filter: grayscale(100%);
      z-index: 1;
    }

    .reviews__text {
      position: absolute;
      display: block;
      font-family: 'ubuntu-light', sans-serif;
      font-size: 14px;
      margin: 0 0 20px 0;
      padding:50px 30px;
      width:230px;
      z-index: 999;
      left: -9999px;
      top: 0;

      span {
        font-family: 'gagalin-regular', sans-serif;
        font-size: 14px;
        margin: 0 0 32px 0;
      }
    }

    &:hover .reviews__text{
      left: 0;
    }

    .btn.reviews__text--btn{
      background-color: #2f3234;

      &:hover{
        background-color: #1f2122;
      }
    }

  }

}