.slaider {
  position: relative;
  background: linear-gradient(180deg, rgb(249, 180, 59) 0%, rgb(235, 140, 56) 48%, rgb(249, 180, 59) 74%);
  display: flex;
  .section__heading {
    @include colo-white;
    @include slider__margin;
  }
}

.slaider__teg,
.slider__row{
  display: flex;
}

.slaider__teg{
  margin: auto;
  width: 100%;
  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.slaider__img, .slaider__description{
  width:50%;
}

.slaider__img{
  margin:0 rem(20px) 0 0;
  img{
    display: block;
    width: 100%;
  }
  @include tablets {
    align-items: flex-end;
    width: 60%;
    height: rem(370px);
    margin-right: 0;
    padding: 0 2%;
  }
  @include phones {
    width: 90%;
  }
}

.slaider__description{
  display: flex;
  flex-direction: column;
  @include tablets {
    text-align: center;
    align-items: center;
    width: 100%;
  }
}

.composition{
  position: absolute;
  top: -80px;
  left: 0;
}

.composition__icon-btn{
  width: 90px;
  height: 90px;
  border-radius: 5px;
  background: #e3502870;
  display: flex;
  flex-direction: column;
}

.composition__img-icon{
  margin: auto;
  fill: $white;
  width: 45px;
  height:45px;
}

.composition__icon{
  margin-right: rem(25px);
}

.composition__img{
  width: 40px;
  height: 40px;
}

.compositio__item {
  display: flex;
  align-items: center;
}

.composition__product{
  margin-right: auto;
  font-weight: 500;
}

.composition__list{
  position: absolute;
  left: 90px;
  top: 0;
  transition: opacity .5s;
  background: $white;
  width: 270px;
  border-radius: rem(10px);
  padding: rem(20px) rem(25px);
  user-select: none;
  z-index: 10;
}

.composition__title{
  font-family: 'gagalin-regular', sans-serif;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: $white;
  margin: -10px 0 10px 0;
}

.slaider__item{
  position: relative;
  display: flex;
  align-items: flex-end;
}

.slider__list--wrap{
  position: relative;
}

.slaider__description {
  p {
    font-size: 14px;
    font-family: "ubuntu-regular", sans-serif;
    line-height: 1.714;
    color: $white;
    @include slider__margin;
  }
}

.price {
  display: inline-block;
  font-family: 'gagalin-regular', sans-serif;
  font-size: rem(72px);
  color: $orange;
  margin: 0;
  font-weight: 200;
  line-height: 1;
  .price__small {
    font-size: rem(30px);
  }
}

.btn__slaider{
  align-self: flex-end;
  margin: 0 0 0 20px;
}

.slider__controls{
  position: relative;
  left: 50%;
  bottom: 205px;
}

.slider__controls_next {
  position: absolute;
  left: 50%;
}

.slider__controls_pref {
  position: absolute;
  left: -53%;
}

.slider__controls-arrow_right{
@include arrow;
  transform: rotate(45deg);
}

.slider__controls-arrow_left{
  @include arrow;
  transform: rotate(-135deg);
}

.calories{
  position: absolute;
  left: 0;
  bottom: -80px;
}

.calories__img{
  width: 60px;
  height: 60px;
  fill: $white;
}

.calories__title,
.calories__unit{
  font-family: 'gagalin-regular',sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

.calories__unit{
  font-size: 12px;
}

.calories__title{
  margin: -39px 0 15px 0;
}