.slaider {
  position: relative;
  background: linear-gradient(180deg, rgb(249, 180, 59) 0%, rgb(235, 140, 56) 48%, rgb(249, 180, 59) 74%);
  display: flex;
  .section__heading {
    @include colo-white;
    @include slider__margin;
  }
}

.slaider__teg,
.slider__row{
  display: flex;
}

.slider__row{
  @include tablets{
    margin: 13px 0 0 0;
  }
}

.slaider__img, .slaider__description{
  width:50%;
}

.slaider__description{
  display: flex;
  flex-direction: column;
  @include tablets {
    text-align: center;
    align-items: center;
  }
  @include phones{
    width: 100%;
  }
}

.composition{
  position: absolute;
  top: 0;
  @include tablets{
    top: 8%;
    left: 19%;
  }
  @include phones{
    top: 6%;
    left: 2%;
  }
}

.composition__icon-btn{
  width: 90px;
  height: 90px;
  border-radius: 5px;
  background: #e3502870;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.composition__img-icon{
  margin: auto;
  fill: $white;
  width: 45px;
  height:45px;
}

.composition__icon{
  margin-right: 25px;
}

.composition__img{
  width: 40px;
  height: 40px;
}

.compositio__item {
  display: flex;
  align-items: center;
}

.composition__product{
  margin-right: auto;
  font-weight: 500;
}

.composition__list{
  position: absolute;
  left: 90px;
  top: 0;
  transition: opacity .5s;
  background: $white;
  width: 270px;
  border-radius: 10px;
  padding: 20px 25px;
  user-select: none;
  z-index: 10;
}

.composition__title{
  font-family: 'gagalin-regular', sans-serif;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: $white;
  margin: -10px 0 10px 0;
}

.slaider__teg{
  margin: auto;
  width: 100%;
  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.slider__list--wrap{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slaider__list{
  position: relative;
  display: flex;

}

.slaider__item{
  position: relative;
  padding: 0 60px 0 0;
  left: 0;
}

.slaider__content{
  display: flex;
  align-items: flex-end;
  margin: 20px 0;
  width: 100%;
  @include tablets {
    flex-direction: column;
    align-items: center;
    padding: 0 16%;
  }
  @include tablets{
    padding:0;
  }
  @include phones{
    height: 100%;
  }
}

.slaider__img{
  margin: 0 70px 0 0;
  img{
    min-width: 100%;
    display: block;
  }
  @include tablets {
    width: 100%;
    margin: 26% 1% 0 0;
  }
  @include phones {
    width: 80%;
    margin: 0;
    top: 17%;
    display: flex;
    height: 34%;
    position: relative;
    left: -3%;
  }
}

.slaider__description {
  p {
    font-size: 14px;
    font-family: "ubuntu-regular", sans-serif;
    line-height: 1.714;
    color: $white;
  }
  @include slider__margin;
  @include tablets{
    width: 100%;
    margin: 0;
  }
  @include phones{
    width: 90%;
    margin: 27% 5% 0 0;
  }
}

.price {
  display: inline-block;
  font-family: 'gagalin-regular', sans-serif;
  font-size: 72px;
  color: $orange;
  margin: 0;
  font-weight: 200;
  line-height: 1;
  @include tablets{
    font-size: 50px;
  }
  .price__small {
    font-size: 30px;
    padding: 0 0 0 5px;
    @include phones{
      font-size: 21px;
    }
  }
}

.btn__slaider{
  align-self: flex-end;
  margin: 0 0 0 20px;
  @include tablets{
    margin: 0 0 0 30px;
  }
}

.slider__controls{
  position: relative;
  left: 80%;
  bottom: 205px;
  @include tablets{
    bottom: 389px;
  }
  @include phones{
    bottom: 430px;
  }
}

.slider__controls_next {
  position: absolute;
  left: 16%;
  z-index:10;
  @include tablets{
    left: 10%;
  }
}

.slider__controls_prev {
  position: absolute;
  left: -79%;
  @include tablets{
    left: -74%;
  }
}

.slider__controls-arrow_right{
@include arrow;
  transform: rotate(45deg);
}

.slider__controls-arrow_left{
  @include arrow;
  transform: rotate(-135deg);
}

.calories{
  position: absolute;
  bottom: 10px;
  @include tablets{
    top: 8%;
    right: 19%;
  }
  @include phones{
    top: 6%;
    right: 3%;
    height: 10%;
  }
}

.calories__img{
  width: 60px;
  height: 60px;
  fill: $white;
}

.calories__title,
.calories__unit{
  font-family: 'gagalin-regular',sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

.calories__unit{
  font-size: 12px;
}

.calories__title{
  margin: -39px 0 15px 0;
}