.team{
  position: relative;
  background: url("../img/team_bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  font-size:14px;
  font-family: 'ubuntu-light', sans-serif;
}

.team__content{
  position: absolute;
  background: rgba(40,50,52,.86);
  width:50%;
  height:100%;
  right: 0;
  padding: 80px;
}

.vertical__accordeon{

  margin: 80px 0 0 0;

.accordeon__item{
  margin: 35px 0;
}
  .accordeon__trigger{
    display: flex;
    align-items: center;

    &:before{
      content: "";
      height: 0;
      width: 0;
      border: 9px solid transparent;
      border-bottom-width: 0;
      border-top-color: #f9b43b;
      margin: 0 9px 0 0;
    }

  }

.accordeon__trigger--activ{

  .accordeon__trigger{
    &:before{
      transform: rotate(-180deg);
    }
  }

}


.accordeon__inner-item{
  display: flex;
}

.accordeon__trigger{
  font-family:'Gagalin', sans-serif;
  font-size: 14px;
  line-height: 2.01;
  text-align: left;
  color: #f9b43b;
  display: flex;
}

.team__img{
  width: 15%;
  height: 15%;
  margin: 0 17px 0 0;

  img{
    display: block;
    max-width:100%;
    overflow: hidden;
    border-radius: 50%;
  }
}

.accordeon__inner-item{
  margin:17px 0 0 0;
}


.team__description{
  span{
    font-weight: bold;
    font-size:14px;
  }

p{
  width: 208px;
  margin: 30px 0 0 0;
}
}

}