.team{
  position: relative;
  background: url("../img/team_bg.jpg") no-repeat center;
  background-size: cover;
  color: $white;
  font-size:rem(14px);
  font-family: 'ubuntu-light', sans-serif;

@include tablets{
  display: flex;
  flex-direction: column;
  .section__heading{
    @include phones{
      font-size: rem(50px);
      margin: rem(-8px) 0 0 rem(-9px);
    }
  }
}
}

.team__content{
  @include tablets{
    position: static;
    width: 100%;
    padding: 14.2% 30.6%;
    box-sizing: content-box;
  }

  position: absolute;
  background: rgba(40,50,52,.86);
  width:50%;
  height:100%;
  right: 0;
  padding: rem(80px);
}

.vertical__accordeon{
  margin: rem(70px) 0 0 0;
  @include tablets{
    margin: 18% 7%;
  }
  @include phones{
    margin: rem(89px) 0 0 0;
  }

  .accordeon__inner{
    width: 100%;
    margin: 0 0 0 rem(17px);
    @include tablets{
      margin: 0 0 0 -33%;
    }
  }

  .accordeon__trigger{
    display: flex;
    align-items: center;
    color: $white;

    &:before{
      content: "";
      height: 0;
      width: 0;
      border: 5px solid transparent;
      border-bottom-width: 0;
      border-top-color: $yellow;
      margin: 0 rem(9px) 0 0;
      @include tablets{
        margin: 0 rem(14px) 0 rem(-17px);
      }
    }

  }

.accordeon__item--activ{

  .accordeon__trigger{
    color: $yellow;
    &:before{
      transform: rotate(-180deg);
    }
  }

}

  .accordeon__content {
    height: 0;
    overflow: hidden;
  }

.accordeon__content_inner{
  display: flex;
  height: 130px;
  overflow: hidden;
  margin:rem(17px) 0 0 0;
  @include tablets{
    flex-direction: column;
    align-items: center;
  }
}

.accordeon__trigger{
  font-family:'Gagalin', sans-serif;
  font-size: rem(14px);
  line-height: 2.01;
  text-align: left;
  color: white;
  display: flex;
  @include tablets{
    font-size: rem(24px);
    white-space: nowrap;
    line-height: 1.6;
  }
}

.team__img{
  width: 100px;
  margin: 0 rem(20px) 0 0;
  @include tablets{
    width: 17%;
    margin: 0 rem(24px) 0 0;
  }

  img{
    display: block;
    max-width:100%;
    overflow: hidden;
    border-radius: 50%;
  }
}

.team__description{

  @include tablets{
    margin: rem(9px) 0 0 rem(-20px);
    text-align: center;
  }

  span{
    font-weight: bold;
    font-size:rem(14px);
  }

p{
  width: 208px;
  margin: rem(13px) 0 0 0;
  @include tablets{
    width: 334px;
  }
}
}

}