.team{
  position: relative;
  background: url("../img/team_bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  font-size:14px;
  font-family: 'ubuntu-light', sans-serif;
@include tablets{
  display: flex;
  flex-direction: column;
}
}


.team__content{
  @include tablets{
    position: static;
    width: 100%;
    padding: 80px 25%;
  }

  position: absolute;
  background: rgba(40,50,52,.86);
  width:50%;
  height:100%;
  right: 0;
  padding: 80px;
}

.vertical__accordeon{
  margin: 70px 0 0 0;
  @include tablets{
    padding: 0 20%;
  }

  .accordeon__inner{
    width: 100%;
    margin: 0 0 0 17px;
  }

  .accordeon__trigger{
    display: flex;
    align-items: center;

    &:before{
      content: "";
      height: 0;
      width: 0;
      border: 5px solid transparent;
      border-bottom-width: 0;
      border-top-color: #f9b43b;
      margin: 0 9px 0 0;
    }

  }

.accordeon__item--activ{

  .accordeon__inner-item {
    height: 130px;
    overflow: hidden;
    @include tablets{
      height: 300px;
    }
  }

  .accordeon__trigger{
    &:before{
      transform: rotate(-180deg);
    }
  }

}

.accordeon__inner-item{
  display: flex;
  height: 0;
  overflow: hidden;
  @include tablets{
    flex-direction: column;
    align-items: center;
  }
}

.accordeon__trigger{
  font-family:'Gagalin', sans-serif;
  font-size: 14px;
  line-height: 2.01;
  text-align: left;
  color: #f9b43b;
  display: flex;
}

.team__img{
  width: 100px;
  margin: 0 20px 0 0;
  @include tablets{
    width: 65%;
    margin: auto;
  }

  img{
    display: block;
    max-width:100%;
    overflow: hidden;
    border-radius: 50%;
  }
}

.accordeon__inner-item{
  margin:17px 0 0 0;
}


.team__description{

  @include tablets{
    margin: 25px 0 0 0;
    padding: 0 30%;
    text-align: center;
  }

  span{
    font-weight: bold;
    font-size:14px;
  }

p{
  width: 208px;
  margin: 13px 0 0 0;
}
}

}