// todo оптимизировать код
.welcome__page{
  background-image: url("../img/welcome_page_texture.png"), url("../img/welcome_page_bg.jpg") ;
  background-position: top right, center center;
  background-attachment: fixed, fixed;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0 0 0;
}

.logo--header{
  margin: 0 auto 0 0;
}
.nav{
  font-size: 13px;
}

.nav__list{
  @include tablets{
    display: none;
  }
  display: flex;
  font-family: 'ubuntu-regular', sans-serif;
  list-style-type: disc;
  text-transform: uppercase;

  .nav__item{
    color: #fff;
    margin: 0 18px;

    &:first-child{
      list-style-type: none;
    }
  }

  .nav__link{
    color: #fff;

    &:hover{
      text-decoration: underline;
    }
  }
}

.welcome__page-container{
  @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20%;
  }
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome__page-content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  margin: 45px 0 0 26px;
}

.section__img, .welcome__page-description{
  display: flex;
  align-self: flex-start;
  flex-basis: 50%;
}

.section__img {
  margin: -60px 0 0 0px;
}

.welcome__page-description{
  flex-direction: column;
  justify-content: center;
}




.description-text {
  font-family: 'lifehackmedium', sans-serif;
  color: #fff;
  font-size: 62px;
  margin: 28px 0 0 0;
  display: inline-block;
}

.scroll__down{
  @include tablets{
    bottom: 5%;
  }
  position: relative;
  margin: 0 auto;
  bottom: 35%;
}

.scroll__down-link {
  background: url("../img/welcome_page_arrow_scroll.png") center center no-repeat;
  height: 25px;
  width: 25px;
  display: inline-block;
}